html {
  cursor: url('../img/kanyesmall3.png'), auto;
}
body {
  color: #fff;
  background-color: #000;
}

.randomkanye {
  z-index: -1;
  opacity: 0.5;
  margin-top: -120px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 20pt;
  text-align: center;
  margin: 100px 0 10px 0;
}

h5 {
  font-family: 'bodoni', serif;
  position: relative;
  font-style: italic;
  font-weight: inherit;
  font-size: 12pt;
  letter-spacing: 1px;
  text-align: center;
  margin: 20px 0 125px 0;
}

section {
  font-size: 35pt;
  text-align: center;
  max-width: 1000px;
  /* letter-spacing: 1px; */
  margin: auto;
}

span {
  font-family: 'bodoni', serif;
}

#refresh {
  position: fixed;
  left: 50%;
  top: 82%;
  transform: translate(-50%, 50%);
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  text-align: center;
  font-weight: bold;
}

#rest {
  position: fixed;
  right: 5%;
  top: 90.5%;
  transform: translate(-50%, 50%);
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  text-align: center;
  font-weight: bold;
}

#twitter {
  position: fixed;
  left: 50%;
  top: 88%;
  transform: translate(-50%, 50%);
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  text-align: center;

  background-color: #1DA1F2;
  border: none;
  color: white;
  padding: 10px 14px;
  display: inline-block;
  cursor: url('../img/kanyesmall3.png'), auto;
  border-radius: 25px;
}

a#refresh:link {color: #fff; text-decoration: none;}
a#refresh:visited {color: #fff; text-decoration: none;}
a#refresh:hover {color: #F6BC4F; cursor: url('../img/kanyesmall3.png'), auto;}
a#refresh:active {color: #fff;}

a#rest:link {color: #fff;}
a#rest:visited {color: #fff;}
a#rest:hover {color: #F6BC4F; cursor: url('../img/kanyesmall3.png'), auto;}
a#rest:active {color: #fff;}

a#twitter:link {color: #fff; text-decoration: none;}
a#twitter:visited {color: #fff; text-decoration: none;}
a#twitter:hover {color: rgb(168, 168, 168); cursor: url('../img/kanyesmall3.png'), auto;}
a#twitter:active {color: #fff;}

img {
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, 50%);
  max-height: 150px;
  z-index: 1;
}



